@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.zinc.800");
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0.75rem;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px theme("colors.zinc.900");
}
 
::-webkit-scrollbar-thumb {
  background-color: theme("colors.zinc.500");
  outline: 1px solid theme("colors.zinc.600");
  border-radius: 5px;
}

/* helper classes */
.x-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, textarea {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: theme("colors.zinc.900");
  border-width: 1px;
  border-radius: .5rem;
  border-color: theme("colors.zinc.400");
  resize: none;
}

